
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('web.jpg');
    background-size: 1800px 500px;
    
}

header {
    background-color: #4CAF50;
    padding: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}


.main-section {
    text-align: center;
    padding: 50px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.train-search {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    border-radius: 10px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#results {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    display: none;
}
.pnr{
    text-align: center;
}
#selva
{
    width: 50%;
    margin-left: 25%;
}
